body {
  background-image: url('img/woodenBackground.jpg');
}
h1 {
    color: purple;
    text-align : center ;
    font-size: 400%;
}
h2 {
  color: blue;
  text-align : center ;
  font-family: Helvetica, Arial, sans-serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid red;
    border-radius: 4px;
  }

  .ingri{
    text-align : left ;
    color: blue;
    text-align : left ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 200%;
  }
.recipe-instructions-heading{
  text-align : left ;
    color: blue;
    text-align : left ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 200%;
}
  .recipe-intro{
  font-size:150%;
  font-style: oblique;
}

.recipe-steps{
  font-size:150%;
  font-style: oblique;  
}

.column {
    float: left;
    width: 20%;
    image-resolution: 300dpi;
    padding: 5px;
    border: 2px solid red;
    border-radius: 4px;
  }
    
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }